{
  "parser": "vue-eslint-parser",
  "plugins": ["import", "prettier", "vue", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "esnext",
    "esnext/style-guide",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "@ibsolution/ibsolution-base",
    "plugin:vue/essential",
    "@vue/prettier",
    "@vue/typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": false
    },
    "sourceType": "module",
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "strict": ["error", "function"],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "max-len": [
      "error",
      {
        "code": 240,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "generator-star-spacing": ["error", { "before": true, "after": false }],
    "babel/generator-star-spacing": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "import/prefer-default-export": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 240,
        "bracketSpacing": true
      }
    ]
  },
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
